<div class="menu">
  <ul>
    <li><a class="active" [routerLink]="['/dashboard']"><strong>
      <i class="fa fa-user fa-yellow"></i>
      Platforma cadrului didactic</strong></a></li>
    <li><a [routerLink]="['/statistics']"><strong>Salutul</strong></a></li>
    <li><a [routerLink]="['/important-day']"><strong>Zi cu insemnatate</strong></a></li>
    <li><a [routerLink]="['/questions']"><strong>Intampinarea copiilor</strong></a></li>
    <li><a [routerLink]="['/upload']"><strong>Ghicitoarea</strong></a></li>
    <li><a [routerLink]="['/dictionary']"><strong>Suntem invatacei</strong></a></li>
    <li><a [routerLink]="['/newaccount']"><strong>Creare cont nou</strong></a></li>
    <li class="float-right"><a (click)="logout()"><strong>Logout</strong></a></li>
  </ul>
</div>
