.fa-yellow {
    color: yellow;
}

.float-right {
    float: right
}

menu {
    margin-top: 0px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#AAC4D1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2A5B84;
    text-decoration: none;
    color: white;
    font-style: italic;
    border-radius: 20px;
  }
  
  .active {
    background-color: #2A5B84;;
    font-style: italic;
    color: yellow;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }