.text-shadow {
    color: white;
    text-shadow: 2px 2px 4px #2A5B84;
    font-size: 150%;
}

.highlighted-text {
    color: #2A5B84;
    font-size: 30px;
}

.group-form {
    display: inline;
}

.btn-primary {
    background-color: #2A5B84;
}

.btn-secondary {
    background-color: white;
    color: #2A5B84;
}

.bordered-container {
    border: 2px solid #2A5B84;
    margin: 10px;
    border-radius: 20px;
    padding: 2% 5%;
}

.rounded-image {
    border-radius: 50%;
    height: 80px;
    padding: 2px;
    border: 4px solid #AAC4D1;
}