<div class="content-box">
    <h3 style="text-align:center"><i>Zi cu insemnatate</i></h3>
    <hr>
   <div class="row">
      <h5>
        <img class="rounded-image" src="./././assets/images/balloons.png" alt="Profesor"/>
        <i>Fie ca este ziua de nastere a unui copil, o sarbatoare sau pur si simplu o zi mult soare, fiecare dintre ele trebuie celebrate asa cum se cuvine.</i></h5>
   </div>
   <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-6 bordered-container">
         <div class="form-group">
            <label for="role"><strong>Titlul: </strong> </label>
            <input id="role" [(ngModel)]="riddleText" class="form-control" />
           </div>
         <div class="form-group">
            <label for="role"><strong>Descrierea: </strong> </label>
            <textarea id="role" type="text" [(ngModel)]="riddleText" class="form-control" rows="6" cols="50"></textarea>
        </div>
        <div class="form-group">
          <label for="file"><strong>Imagine:</strong></label><br>
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
        </div>
        <div class="form-group">
          <label for="role"><strong>Tip eveniment: </strong> </label>
          <select  class="form-control" [(ngModel)]="eventType">
            <option [ngValue]="undefined" hidden selected>Selectati tipul evenimentului</option>
            <option *ngFor="let event of eventTypes" [value]="event.type">
              {{event.name}}
            </option>
        </select>
        </div>
        <hr><br>
        <button (click)="saveRiddle()" class="btn btn-primary col-lg-2"><i class="fa fa-save"></i> Salveaza</button>
        <button (click)="cancelEditedRiddle()" class="btn btn-secondary ml-3 col-lg-2"><i class="fa fa-times"></i> Renunta</button>
        <p class="errorText col-lg-6">{{errorText}}</p>
      </div>
    </div>
<simple-notifications></simple-notifications>