.rounded-image {
    border-radius: 10%;
    height: 80px;
    padding: 2px;
}

.bordered-container {
    border: 2px solid #2A5B84;
    margin: 10px;
    border-radius: 20px;
    padding: 2% 5%;
}

.btn-primary {
    background-color: #2A5B84;
}

.btn-secondary {
    background-color: white;
    color: #2A5B84;
}

/*to be deleted*/

.opac-box {
    opacity: 0.7;
    background-color: rgba(255,255,255, 0.5)
}

.button-badge {
    cursor: pointer;
}

