<div class="content-box">
  <h3 style="text-align:center"><i>Salut, minune de copil!</i> <i class="fa fa-smile-o"></i></h3>
  <hr>
  <div class="row">
    <div class="col-3 ml-3">
      <img height="80%" class="rounded-image" src="./././assets/images/kids3.png" alt="Copii"/>
    </div>
    <div class="col-4">
        <p> Aceasta platforma este a ta.<i class="fa fa-heart"></i> Gandita cu mare grija de catre doamna educatoare, astfel incat tu sa simti ca esti apreciat pentru toataaaa curiozitatea si istetimea de care dai dovada zilnic. <i class="fa fa-star"></i></p>
        <p> O sa parcurgem fiecare sectiune impreuna, astfel incat introducerea ta in lumea noua a tehnologiei sa fie lina, frumoasa, dar mai ales distractiva.<i class="fa fa-sun-o"></i><i class="fa fa-flag"></i><i class="fa fa-child"></i><i class="fa fa-female"></i></p>
        <p> Stim cat de mult iti place sa te joci<i class="fa fa-truck"></i><i class="fa fa-cube"></i><i class="fa fa-fighter-jet "></i>, asa ca am transformat fiecare lectie in cate un joc captivant.<i class="fa fa-bicycle"></i><i class="fa fa-scissors"></i></p>
        <p> Sa nu-ti fie frica sa experimentezi lucrurile pe care ti le-am pregatit. Doamne educatoare va fi mereu in dreapta ta, sa te indrume.<i class="fa fa-bullhorn"></i></p>
    </div>
    <div class="col-4 ml-3">
        <img height="80%" class="rounded-image" src="./././assets/images/kids11.png" alt="Copii"/>
    </div>
   
  </div>
  </div>
  
