<div class="menu menu-student">
  <ul>
    <li><a class="active" [routerLink]="['/dashboard-student']"><strong>
      <i class="fa fa-user fa-yellow"></i>
      Prescolar</strong></a></li>
    <!-- <li><a [routerLink]="['/download']"><strong>Descarcare capitol</strong></a></li> -->
    <li><a [routerLink]="['/daily-hello']"><strong>Salutul</strong></a></li>
    <li><a [routerLink]="['/presence']"><strong>Prezenta</strong></a></li>
    <li><a [routerLink]="['/calendar']"><strong>Calendarul</strong></a></li>
    <li><a [routerLink]="['/video']"><strong>Noutatea zilei</strong></a></li>
    <li><a [routerLink]="['/smart-kids']"><strong>Suntem invatacei</strong></a></li>
    <li><a [routerLink]="['/riddle']"><strong>Ghicitoarea</strong></a></li>
    <li><a [routerLink]="['/today-importance']"><strong>Astazi este despre...</strong></a></li>
    <!-- <li><a [routerLink]="['/map']"><strong>Aplicatia 7</strong></a></li> -->
    <li class="float-right"><a (click)="logout()"><strong>Logout</strong></a></li>
  </ul>
</div>
